.car {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(174,238,234);
    background: radial-gradient(circle, rgba(174,238,234,1) 0%, rgba(148,148,233,1) 100%);
}
.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.link {
    color: rgb(174,238,234);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
}
a:link, a:visited {
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
  a:hover, a:active {
    background-color: rgba(148,148,233,1);
}